<div class="row">
  <%= unless is_nil(get_flash(@conn, :info)) do %>
    <p class="alert alert-success"><%= get_flash(@conn, :info) %></p>
  <% end %>

  <%= unless is_nil(get_flash(@conn, :error)) do %>
    <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
  <% end %>
</div>