nav {
  padding: 15px !important;
}

li.nav-item {
  margin: 0 !important;
  padding: 5px 0;

  a {
    margin: 0;
  }
}

.btn {
  margin-left: 10px;
}

.username {
  margin: 0;
  margin-right: 20px;
  margin-top: 8px;
}

.navbar-brand {
  font-size: 19px;
  font-weight: bold;
}
